* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.section {
	z-index: -1;

	top: 0;
	left: 0;
	width: 100%;

	background: url(/images/pic1.jpg);

	background-size: 100vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
	h1 {
		margin: 20px;
		padding: 5px;
		font-size: 2.5rem;
		background: white;
		opacity: .75;
		border-radius: 10px;
	}
	#selitys {
		padding: 5px;
		font-size: 1rem;
		background: white;
		opacity: .75;
		border-radius: 10px;
	}
}
.ruuat {
	padding: 2rem;
	line-height: 1.7;
	font-weight: 600;
	font-size: 1.4rem;
	background: rgba(255, 255, 255, .7);
	min-width: 350px;
	margin: 20px;
	border-radius: 10px;
}
.formi {
	z-index: 2;
	margin: 20px;
	padding: 2rem;
	line-height: 1.7;
	font-size: 1.4rem;
	font-weight: 600;
	background: rgba(255, 255, 255, 1);
	min-width: 350px;
	border-radius: 10px;
	input {
		font-size: 1.4rem;
	}
	select {
		font-size: 1.4rem;
	}
	h5 {
		font-size: 1.3em;
	}
	#tilausSubmit {
		border-radius: 5px;
		background-color: darkgrey;
		padding: 5px 20px;
	}
	.remove {
		border-radius: 5px;
		background-color: darkgrey;
		padding: 5px 20px;
	}
}

.admin {
	margin: 20px;
	label {
		font-size: 2rem;
	}
	input {
		font-size: 2rem;
	}
	#adminSubmit {
		border-radius: 5px;
		background-color: darkgrey;
		padding: 5px 20px;
	}
	.poistaTuote {
		border-radius: 5px;
		background-color: darkgrey;
		padding: 5px 20px;
	}
}
